<!-- views/signup-success.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Added Success</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Added Successful</h1>
    <p>Added in account has been successfully.</p>
  </div>
</body>
</html>
